.blog_publisher{
    color:#f9a826;
}
.blockquote{
    line-height: 35px;
}
.single_comment img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #000d6b;
    object-fit: cover;
}
.replay i{
    color: #f9a826;
}
.replay{
    color: #000d6b;
    font-weight: 600;
    cursor: pointer;
}
.leave_comment-form input,.leave_comment-form textarea{
    border: 1px solid #000d6b;
}
.leave_comment-form:focus{
    outline: none;
}
.comment_btn{
    background: #000d6b !important;
    color: #fff !important;
}
.recent_blog-item h6 a{
    text-decoration: none;
    color: #000d6b;
    font-weight: 600;
}
