.chat-body {
    background-color: #f8f9fa;
  }
  
  .msg-box {
    border-radius: 10px;
    max-width: 60%;
  }
  
  .bg-info {
    background-color: #17a2b8 !important;
  }
  
  .btn-secondary {
    background-color: #6c757d;
  }

  .bg-msg {
    background: #000d6b;
    color: #fff;
  }

  .chatbox-fixed {
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 100%;
    z-index: 99999;
  }
  